[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.7"
psycopg2-binary = "==2.9.2"
pyproj = "==3.0.1"
psycopg2 = "==2.9.2"

[dev-packages]

[requires]
python_version = "3.8.6"
