.map-container {
  position: absolute;
  /* height: 400px; */
  top: 12%;
  bottom: 12%;
  left: 35%;
  right: 35%;
  background-color: darkblue;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}
